*{
    margin: 0;

}

/* .copyright{
    color: blue !important;
} */

.mynav{
    font-size: 15px !important;
    font-family: 'Julius Sans One', sans-serif;
    padding:300px;
}

.headTop{
    background: rgb(26, 26, 83);
    color: white;
    width: 100%;
    height: 30px;
}
.myHeader{
    height: 130px;
}
.cardLink{
    font-size:11px;
}
.con2{
    background-color: #eee;
}

.footer{
    font-family: 'Julius Sans One', sans-serif;
}
.copyright{
    background-color: #111;
    font-family: 'Julius Sans One', sans-serif;

  }

.twi-color{
    color:#4099FF;
}
.fa-color{
  color: #3b5998;
}
.i-color{
  color: #e4405f;
}
.twi-color:hover,.fa-color:hover,.i-color:hover{
  cursor: pointer;
  color: #9fa19f;
}

.footer-text{
    color: #fff !important;
    font-weight: bold;
}

.section-about {
    width: 100%;
    height: auto;
    padding: 60px 0px;
    background-color: rgb(245, 245, 245);
    margin-top: 50px;
}

.imgBox-design {
    box-shadow: 15px 15px 0px 0px #f6ea63;
    width: 90%;
    height: auto;
}

.section-about ul.nav.nav-tabs {
    display: flex;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
        border-top-color: rgb(222, 226, 230);
        border-right-color: rgb(222, 226, 230);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(222, 226, 230);
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
        border-top-color: transparent;
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: transparent;
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: transparent;
        border-left-style: solid;
        border-left-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

img {
    vertical-align: middle;
    border-style: none;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}

.container {
    max-width: 1140px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
)
 
.fullWidth {
    width: 100%;
}

.text-warning {
    color: #dc3545 !important;
}

.form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.col-sm-5 {
    flex: 0 0 41.666667%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 41.6667%;
    max-width: 41.666667%;
}

.col-sm-2 {
    flex: 0 0 16.666667%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 16.6667%;
    max-width: 16.666667%;
}

body {
    background-color: #fff;
    color: #252525;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

)

   

/* .text-color{
    color: #050706;
  } */
