.bg-manual{
    background-color: #082f55 !important;
    color: white !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    font-size: 0.8rem !important;
}

.dropdown-manual{
    background-color: #222e3a !important;
    font-size: 0.8rem !important;
}

.drp-item-manual{
    font-size: 0.8rem !important;
    color: white !important;
}

.drp-item-manual:hover{
    background-color: orange !important;
}

.nav-item-manual{
    background-color: #dc3545 !important;
}